:root {
    --theme-color: #9351ff;
    --video-gray-style: 0%;
    --video-blackout: 50%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 0;
    font-family: Roboto, serif;
    font-style: initial;
}

#backgroundVideo {
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    filter: grayscale(var(--video-gray-style));
}

.content {
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0, var(--video-blackout));
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1  {
    font-size: 150px;
    font-weight: 900;
    margin-bottom: 10px;
}

.content p {
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 30px;
}

.links-buttons a {
    font-weight: 400;
    border-radius: 2rem;
    border: 1px solid var(--theme-color);
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: .1rem;
    margin: .5rem 1rem;
    padding: .75em 2rem;
    text-decoration: none;
    transition: all .15s ease;
    background-color: var(--theme-color);
    color: #ffffff;
}

.links-buttons a.secondary {
    color: #ffffff;
    background-color: unset;
    border: 1px solid #ffffff;
}
.links-buttons a:hover {
    background-color: #fff;
    color: var(--theme-color);
    border-color: #fff;
}
.links-buttons a.secondary:hover {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}

@media screen and (max-device-width: 720px) {
    .content h1 {
        font-size: 100px;
    }
    .content p {
        font-size: 18px;
        font-weight: 300;
    }
}
